<div class="primary-well container-fluid">
		<div class="well grid">
			<div class="row">
				<div class="col-xs-12 text-justify">
					<p ng-bind-html="CtrlcreatePage.company.taviso"></p>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default btn-primary btn-fluid" ng-click="redirectTab('createCasePage')"><span>{{CtrlcreatePage.company.b1aviso}}</span></button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default btn-primary btn-fluid" ng-click="redirectTab('homeShow')"><span>{{CtrlcreatePage.company.b2aviso}}</span></button>
				</div>
			</div>
		</div>
	</div>