<div class="primary-well container-fluid">
		<div class="well grid">
			<div class="row">
				<div class="col-xs-12 text-justify">
					<h3>{{labels.lbl_relato_sucesso}}</h3>
					<p>{{labels.lbl_protocolo_gerado_relato}} <b>{{ProtocolSave}}</b>.</p>
					<p>{{labels.lbl_protocolo_acompanhar}}</p>
					<p ng-bind-html="labels.lbl_possave_fim"></p>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default btn-primary btn-fluid" ng-click="redirectTab('createPage')"><span>{{labels.lbl_faca_relato}}</span></button>
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default btn-primary btn-fluid" ng-click="redirectTab('protocolsPage')"><span>{{labels.lbl_acompanha_relato}}</span></button>
				</div>
			</div>
		</div>
	</div>
